@model RP.Sistema.Web.Models.Area.AreaVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" title="Salva registro"><i class="icon-ok-sign"></i> Salvar</a></li>
                        <li><a href="#" data-form-type="reset" title="Limpar o formulário"><i class="icon-refresh"></i> Limpar</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i> Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")">Controles</a> <span class="divider">/</span></li>
                    <li class="active">Editar Controle</li>
                </ul>
                
            	@Html.RenderFlashMessage()
                @Html.CustomValidationSummary(true, true, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })

                <div class="form-horizontal">
                    @{
                        RP.Util.Class.Form editor = Html.Editor();
                        @Html.HiddenFor(model => model.idArea)

                        editor.Add(new RP.Util.Class.Line()
                            .Add(
                                Html.LabelFor(model => model.nmArea),
                                Html.TextBoxFor(model => model.nmArea, new { @class = "input-xxlarge", maxlength = "100" })
                            )
                        );
                        editor.Add(new RP.Util.Class.Line()
                            .Add(
                                Html.LabelFor(model => model.dsArea),
                                Html.TextAreaFor(model => model.dsArea, new { @class = "input-xxlarge", maxlength = "255" })
                            )
                        );
                    }
                    @editor.Render()
                    
                    @Html.EditorFor(model => model.Modulo, "Modulo/Consultar")                

                    @{
                        editor.Clear();
                        editor.Add(new RP.Util.Class.Line()
                            .Add(
                                Html.LabelFor(model => model.flUsaURL),
                                Html.CheckBox("flUsaURL", (Model.flUsaURL == "Sim"), new { @class = "checkboxUI" })
                            )
                        );
				    }
                    @editor.Render()
                </div>
            </div>
        </div>
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/Area/Edit.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}