@model RP.Sistema.Web.Models.Material.MaterialVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="container-nav-list well affix">
                <ul class="nav nav-list">
                    <li class="nav-header">Ações</li>
                    <li>@Html.CustomActionLink("Editar", "Edit", new { id = Model.idMaterial }, new { @title = "Editar registro" }, new { @left = "icon-edit" })</li>
                    <li>@Html.CustomActionLink("Excluir", "Delete", new { id = Model.idMaterial }, new { @title = "Excluir registro" }, new { @left = "icon-trash" })</li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i>Voltar</a></li>
                </ul>
            </div>
        </div>
        <div class="span10">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index")">Início</a> <span class="divider">/</span></li>
                <li class="active">Detalhes do material</li>
            </ul>

            @Html.RenderFlashMessage()
            @Html.CustomValidationSummary(true, true, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })

            <div class="form-horizontal">
                <div class="control-group">
                    @Html.CustomLabelFor(model => model.nome, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.nome, new { @class = "span6", @readonly = "readonly" })
                    </div>
                </div>
                    @*@Html.EditorFor(model => model.Fabricante, "Fabricante/Consultar", new { desabilitar = true})*@
                    @Html.EditorFor(model => model.UnidadeMedida, "UnidadeMedida/Consultar", new { desabilitar = true})
                    <div class="control-group">
                        @Html.CustomLabelFor(e => e.preco, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.preco, new { @class = "span2", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.CustomLabelFor(e => e.margemGanho, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.margemGanho, new { @class = "span2", @readonly = "readonly" })
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
