@model RP.Sistema.Web.Models.Orcamento.ProdutoVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Orçamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Material = new RP.Sistema.Web.Models.Material.Consultar();
}
<div class="container-fluid">
    <div class="msg-aviso msg-erro">
        <button data-dismiss="alert" class="close btn-msg-aviso" type="button">×</button><div class="msg"></div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" id="teste" title="Salva registro"><i class="icon-ok-sign"></i>Salvar</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Projeto", new { Model.idProjeto })" title="Volta para tela inicial"><i class="icon-arrow-left"></i>Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")">Início</a> <span class="divider">/</span></li>
                    <li><a href="@Url.Action("Projeto", new { Model.idProjeto })">Projeto</a> <span class="divider">/</span></li>
                    <li class="active">Orçamento</li>
                </ul>

                @Html.RenderFlashMessage()
                @Html.CustomValidationSummary(true, false, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })
                <div class="form-horizontal">


                    @Html.HiddenFor(model => model.idProjeto)
                    @Html.HiddenFor(model => model.idProduto)
                    <div class="control-group">
                        @Html.CustomLabelFor(model => model.nome, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.nome, new { @class = "span10", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.CustomLabelFor(model => model.descricao, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.descricao, new { @class = "span10", @readonly = "readonly", rows="4" })
                        </div>
                    </div>
                    
                    <h4 class="heading">Itens</h4>
                    <a id="open-item" href="#dlg-item" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i>Adicionar</a>
                    <table id="tblItem">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width: 85%">Material</th>
                                <th style="width: 15%; text-align: right">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="message">
                                <td colspan="3">Nenhum item</td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="tblItem_count" name="tblItem.count" />
                    @if (Model != null && Model.Itens != null)
                    {
                        <input type="hidden" id="tblItem_data" value="@Json.Encode(Model.Itens.OrderBy(e => e.nome))"/>
                    }
                    <div id="dlg-item">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Adicionar item</h3>
                        </div>
                        <div class="modal-body">

                            @Html.EditorFor(model => Material, "Material/Consultar", new { obrigatorio = true, consulta = true })
                            <div class="control-group">
                                @Html.Label("quantidade", "Quantidade", new { @class = "control-label" })
                                <div class="controls  controls-row">
                                    @Html.TextBox("quantidade", null, new { @class = "input-small", filter = "numeric", style = "text-align:right" })
                                    <span id="quantidade-valid" class="field-validation-valid help-inline"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="add-item" class="btn btn-primary">Adicionar</a>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/Orcamento/Produto.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}