@model RP.Sistema.Web.Models.Modulo.AdminVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Adicionar usuário administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Usuario = new RP.Sistema.Web.Models.Usuario.Consultar();
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" title="Salva registro"><i class="icon-ok-sign"></i> Salvar</a></li>
                        <li><a href="#" data-form-type="reset" title="Limpar o formulário"><i class="icon-refresh"></i> Limpar</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i> Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")" title="Lista de módulos">Módulos</a> <span class="divider">/</span></li>
                    <li class="active">Adicionar usuário administrador </li>
                </ul>

                @Html.CustomValidationSummary(true, true, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })
                @Html.RenderFlashMessage()

                <div class="form-horizontal">
                    @Html.EditorFor(model => model.Modulo, "Modulo/Consultar", new { @Disabled = true })
                    <div id="dlg-usuario">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Adicionar Usuário</h3>
                        </div>
                        <div class="modal-body">
                            @Html.EditorFor(model => Usuario, "Usuario/Consultar", new { @AddButton = true })
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="btn-add-usuario" class="btn btn-primary">Adicionar</a>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                        </div>
                    </div>
                </div>

                <h4 class="heading">Usuário administrador</h4>
                <div class="container-fluid">
                    <a data-toggle="modal" class="btn" role="button" href="#dlg-usuario" id="btn-open-usuario"><i class="icon-plus-sign"></i> Adicionar</a>
                    <table id="tblUsuario">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width: 15%">Id</th>
                                <th style="width: 85%">Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="message">
                                <td colspan="3">Nenhum usuário</td>
                            </tr>
                        </tbody>
                    </table>
                    @if (Model.Usuarios != null)
                    {
                        <input type="hidden" id="tblUsuario_data" value="@Json.Encode(Model.Usuarios.Select(r => new { idUsuario = r.idUsuario, nmUsuario = r.nmUsuario }).OrderBy(e => e.idUsuario))"/>
                    }
                    <input type="hidden" id="tblUsuario_count" name="tblUsuario.count"/>
                </div>
            </div>
        </div>
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/Modulo/AddUsuario.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}
