@model RP.Sistema.Web.Models.Usuario.UsuarioVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Altear senha master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" title="Envia nova senha ao Usuário"><i class="icon-circle-arrow-right"></i> Enviar senha</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i> Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")" title="Lista de Usuários">Usuários</a> <span class="divider">/</span></li>
                    <li><a href="@Url.Action("Details", "Usuario", new { id = Model.IdUsuario })" title="Detalhes do Usuário">Usuário</a> <span class="divider">/</span></li>
                    <li class="active">Cadastrar Usuário</li>
                </ul>

                @Html.RenderFlashMessage()
                @Html.CustomValidationSummary(true, true, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })

                <div class="form-horizontal">
                    @{
        RP.Util.Class.Form editor = Html.Editor();

        editor.Add(new RP.Util.Class.Line()
            .Add(
                Html.LabelFor(model => model.Login),
                Html.TextBoxFor(model => model.Login, new { @class = "input-xxlarge", @readonly = "readonly" })
            )
        );
        editor.Add(new RP.Util.Class.Line()
            .Add(
                Html.LabelFor(model => model.Nome),
                Html.TextBoxFor(model => model.Nome, new { @class = "input-xxlarge", @readonly = "readonly" })
            )
        );
        editor.Add(new RP.Util.Class.Line()
            .Add(
                Html.LabelFor(model => model.Email),
                Html.TextBoxFor(model => model.Email, new { @class = "input-xxlarge", @readonly = "readonly" })
            )
        );
                    }
				    @editor.Render()
                </div>
            </div>
        </div>
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/Usuario/AlterPasswordMaster.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}