@model RP.Sistema.Web.Models.Perfil.PerfilVM
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" title="Salva registro"><i class="icon-ok-sign"></i> Salvar</a></li>
                        <li><a href="#" data-form-type="reset" title="Limpar o formulário"><i class="icon-refresh"></i> Limpar</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i> Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")">Perfil</a> <span class="divider">/</span></li>
                    <li class="active">Editar Perfil</li>
                </ul>

                @Html.CustomValidationSummary(true, true, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })
                @Html.RenderFlashMessage()

                <div class="form-horizontal">
                    @{
        RP.Util.Class.Form editor = Html.Editor();
					    @Html.HiddenFor(model => model.idPerfil)

        editor.Add(new RP.Util.Class.Line()
            .Add(
                Html.LabelFor(model => model.nmPerfil),
                Html.TextBoxFor(model => model.nmPerfil, new { @class = "input-xxlarge", maxlength = "100" })
            )
        );
				    }
				    @editor.Render()
                </div>
            </div>
        </div>
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/Perfil/Edit.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}