@model RP.Sistema.Web.Models.Menu.Consultar
@using RP.Util.Class;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
}
<div class="control-group">
    @if (Disabled)
    {
        @Html.CustomLabelFor(model => model.idMenu, "Menu", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.idMenu, new { @class = "input-small", @readonly = "readonly" })
            @Html.TextBoxFor(model => model.nmMenu, new { @class = "input-xxlarge input-inavigate", @readonly = "readonly" })
        </div>
    }
    else
    {
        @Html.CustomLabelFor(model => model.idMenu, "Menu", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.idMenu, new { @class = "input-small", @filter = "numeric", @autocomplete = "off", @maxlength = 8, @prefix = Html.ClientPrefixName().ToString(), @from = "idMenu" })
            <a href="#@Helper.getInputId("modal", Html.ClientPrefixName().ToString())" id="@Helper.getInputId("btn-localizar", Html.ClientPrefixName().ToString())" title="Localizar Menu" class="btn" data-toggle="modal"><i class="icon-search"></i></a>
            @Html.TextBoxFor(model => model.nmMenu, new { @class = "input-xxlarge input-inavigate", @prefix = Html.ClientPrefixName().ToString(), @from = "nmMenu" })
        </div>
        
        @Html.Partial("_ModalPartial", 
            new RP.Sistema.Web.Models.ModalVM{ 
                Prefix = Html.ClientPrefixName().ToString(), 
                Url = Url.Action("Query", "Menu"),
                Title = "Localizar Menu"
            }
        )
    }
</div>

@if (!Disabled)
{
@Html.AddScriptBlock(
@<script type="text/javascript">
     $(function () {
         $('#@Html.ClientIdFor(e => e.idMenu)').change(function () {
             var value = $(this).val();
             if (!IsNullOrEmpty(value)) {
                 $.ajax({
                     dataType: 'json',
                     type: 'GET',
                     url: '@Url.Action("JsDetails", "Menu")',
                     data: { idMenu: value },
                     beforeSend: function () {
                         $.loadingBox('show');
                     },
                     success: function (data) {
                         $.loadingBox('hide');
                         if (data) {
                             $('#@Html.ClientIdFor(e => e.idMenu)').val(data.idMenu);
                             $('#@Html.ClientIdFor(e => e.nmMenu)').val(data.nmMenu);
                         }
                         else {
                             $('#@Html.ClientIdFor(e => e.idMenu)').blink().select();
                             $('#@Html.ClientIdFor(e => e.nmMenu)').val('');
                         }
                     },
                     error: function (request) {
                         Functions.checkRequest(request);
                         $.loadingBox('hide');
                     }
                 });
             }
             else {
                 $('#@Html.ClientIdFor(e => e.idMenu)').val('');
                 $('#@Html.ClientIdFor(e => e.nmMenu)').val('');
             }
         })
        .focus(function () {
            $(this).select();
        });

        $('#@Helper.getInputId("modal", Html.ClientPrefixName().ToString())').on('shown', function () {
            $(this).find('.modal-body').find('iframe').contents().find('#nome').focus();
        })
     });

     $('#@Html.ClientIdFor(e => e.nmMenu)').iNavigate({
         columns: [
			{ name: 'Id', bind: 'idMenu', width: '50px' },
			{ name: 'Nome', bind: 'nmMenu', width: '400px', label: true },
		],
         width: 450,
         source: '@Url.Action("JsSearch", "Menu")',
         minLength: 1,
         paginate: {
             size: 10
         },
         select: function (data) {
             if (data) {
                 $('#@Html.ClientIdFor(e => e.idMenu)').val(data.idMenu);
                 $('#@Html.ClientIdFor(e => e.nmMenu)').val(data.nmMenu);
             }
         },
         change: function (data) {
             if (!data) {
                 $('#@Html.ClientIdFor(e => e.idMenu)').val('');
                 $('#@Html.ClientIdFor(e => e.nmMenu)').blink().select();
             }
         }
     });
</script>
)
}