@model RP.Sistema.Web.Models.Fabricante.Consultar
@using RP.Util.Class;
@{
    bool desabilitar = Convert.ToBoolean(ViewData["desabilitar"]);
    bool obrigatorio = Convert.ToBoolean(ViewData["obrigatorio"] = true);
}
<div class="control-group">
    @Html.CustomLabelFor(model => model.idFabricante, "Fabricante", new { @class = "control-label" })
    @if (desabilitar)
    {
        <div class="controls">
            @Html.TextBoxFor(model => model.nome, new { @class = "span6", @readonly = "readonly" })
        </div>
    }
    else
    {
        <div class="controls  controls-row">
            @Html.TextBoxFor(model => model.nome, new { @class = "span6", maxlength = "50", })
            <a id="@Helper.getInputId("btn", Html.ClientPrefixName().ToString())" title="Adicionar fabricante" class="btn btn-input"><i style="font-size: 300px" class="icon-plus"></i></a>
            @if (obrigatorio)
            { @Html.ValidationMessageFor(model => model.nome, null, new { @class = "help-inline", @id = Html.ClientPrefixName().ToString() }) }
        </div>
    }
    @Html.HiddenFor(model => model.idFabricante)
</div>
@if (!desabilitar)
{
<div id="@Helper.getInputId("dlg", Html.ClientPrefixName().ToString())">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Novo fabricante</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label for="@Helper.getInputId("nome_novo", Html.ClientPrefixName().ToString())" class="control-label">Nome</label>
            <div class="controls">
                <input type="text" value="" maxlength="100" id="@Helper.getInputId("nome_novo", Html.ClientPrefixName().ToString())" class="span6">
                <span id="@Helper.getInputId("nome_valid", Html.ClientPrefixName().ToString())" class="field-validation-valid help-inline"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="@Helper.getInputId("add", Html.ClientPrefixName().ToString())" data-loading-text="Processando" class="btn btn-primary">Adicionar</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>

@Html.AddScriptBlock(

@<script type="text/javascript">
     $(function () {

         $('#@Helper.getInputId("dlg", Html.ClientPrefixName().ToString())').dialog({
             width: 960
         });

         $('#@Helper.getInputId("btn", Html.ClientPrefixName().ToString())').on('click', function () {
             $("#@Helper.getInputId("dlg", Html.ClientPrefixName().ToString())").modal('show');
         })

         $('#@Helper.getInputId("add", Html.ClientPrefixName().ToString())').on('click', function () {
             Fabricante.insert();
         })

         Fabricante = {
             insert: function () {
                 var form = Fabricante.getForm();
                 form.btnAdd.button('loading');

                 var form = Fabricante.getForm();

                 if (Fabricante.validarForm(form)) {

                     var model = Fabricante.getCampos(form);

                     $.ajax({
                         dataType: 'json',
                         type: 'POST',
                         url: '@Url.Action("JsCreate", "Fabricante")',
                         data: model,
                         beforeSend: function () {
                             $.loadingBox('show');
                         },
                         success: function (data) {
                             Fabricante.setModel(data.model);

                             Fabricante.limparForm(form);
                         },
                         error: function (request) {
                             form.btnAdd.button('reset');
                             $.loadingBox('hide');
                         }
                     });
                 } else {
                     form.btnAdd.button('reset');
                 }
             },

             getCampos: function (form) {
                 return model = {
                     nome: form.inputNome.val()
                 };
             },

             getForm: function () {
                 return form = {
                     inputNome: $('#@Helper.getInputId("nome_novo", Html.ClientPrefixName().ToString())'),
                     spanNome: $('#@Helper.getInputId("nome_valid", Html.ClientPrefixName().ToString())'),
                     btnAdd: $('#@Helper.getInputId("add", Html.ClientPrefixName().ToString())'),
                     dialog: $("#@Helper.getInputId("dlg", Html.ClientPrefixName().ToString())")
                 };
             },

             validarForm: function (form) {
                 console.log(form)
                 validarCampo(form.spanNome, form.inputNome, "Informe o nome");

                 return (!window.IsNullOrEmpty(form.inputNome.val()));
             },

             setModel: function (model) {
                 $('#@Html.ClientIdFor(e => e.nome)').val(model.nome);
                 $('#@Html.ClientIdFor(e => e.idFabricante)').val(model.idFabricante);
             },

             limparForm: function (form) {
                 form.inputNome.val('');
                 form.dialog.modal('hide');
                 form.btnAdd.button('reset');
                 $.loadingBox('hide');
             }
         }
     });
     $('#@Html.ClientIdFor(e => e.nome)').iNavigate({
         columns: [
             { name: 'Id', bind: 'idFabricante', width: '20%' },
             { name: 'Nome', bind: 'nome', width: '80%' }
         ],
         width: 500,
         source: '@Url.Action("JsSearch", "Fabricante")',
         minLength: 0,
         paginate: {
             size: 10
         },
         select: function (data) {
             if (data) {
                 $('#@Html.ClientIdFor(e => e.idFabricante)').val(data.idFabricante);
                 $('#@Html.ClientIdFor(e => e.nome)').val(data.nome);
             }
         },
         change: function (data) {
             if (!data) {
                 $('#@Html.ClientIdFor(e => e.idFabricante)').val('');
                 $('#@Html.ClientIdFor(e => e.nome)').blink().select();
             }
         }
     });
</script>
)}