@model RP.DataAccess.PaginatedList<RP.Sistema.Model.Entities.LogDado>
@using RP.Util;
@using RP.Util.Class;
@using RP.Util.Class.Grid;
@using RP.Sistema.Web.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}
<div class="container-fluid">
    @Html.RenderFlashMessage()
    @using (Html.BeginForm("Search", "Log", FormMethod.Get, new { @class = "well form-inline" }))
    {
        <div class="container center">
            <div class="input-prepend input-append">
                <span class="add-on">Filtro</span>
                @Html.TextBox("filter", null, new { @class = "span6", maxlength = "100", @placeholder = "Pesquisar por nome..." })
                @Html.CustomButton("Localizar", "submit", new { @class = "btn" }, new { @left = "icon-search" }, true)
                @Html.CustomActionLink("Limpar pesquisa", "Index", new { @clear = true }, new { @class = "btn" }, new { @left = "icon-remove" }, true)
            </div>
        </div>
    }

    @if (_action.ToLower() == "search")
    {
        IEnumerable<teGridColumn<RP.Sistema.Model.Entities.LogDado>> _g = new[] 
        {
            new teGridColumn<RP.Sistema.Model.Entities.LogDado>
            { 
                headerAttributes = new Dictionary<string, string>
                {
                    {"width","15%"}
                },
                header = "Nome", 
                format = item => item.dtLog.ToString("dd/MM/yyyy HH:mm")
            },
            new teGridColumn<RP.Sistema.Model.Entities.LogDado>
            { 
                headerAttributes = new Dictionary<string, string>
                {
                    {"width","20%"}
                },
                header = "Nome", 
                format = item => item.nmAcao
            },
            new teGridColumn<RP.Sistema.Model.Entities.LogDado>
            { 
                headerAttributes = new Dictionary<string, string>
                {
                    {"width","25%"}
                },
                header = "Estado", 
                format = item => item.nmControle
            },
            new teGridColumn<RP.Sistema.Model.Entities.LogDado>
            { 
                headerAttributes = new Dictionary<string, string>
                {
                    {"width","30%"}
                },
                header = "Pais", 
                format = item => item.Usuario.nmUsuario 
            }
		};

        var __grid = Html.tGrid<RP.Sistema.Model.Entities.LogDado>(
            Model,
            new Dictionary<string, string> { { "class", "table table-bordered table-condensed table-striped table-hover" } },
            _g,
            pager: new teGridPager
            {
                pagerAttributes = new Dictionary<string, string> { },
                currentPage = int.Parse(Request["page"] ?? RP.Util.Resource.Message.DEFAULT_PAGE),
                pageSize = int.Parse(Request["pagesize"] ?? RP.Util.Resource.Message.DEFAULT_PAGESIZE),
                totalItemCount = Model.TotalCount,
                routeValues = new RouteValueDictionary(new { controller = "LogDado", action = _action })
            }
        );
        @__grid
    }
</div>
@{
    string js = "~/" + Guid.NewGuid();

    ScriptBundle scriptBundle = new ScriptBundle(js);
    scriptBundle.Include("~/Scripts/LogDado/Index.js");
    BundleTable.Bundles.Add(scriptBundle);
}
@section scripts{
    @Scripts.Render(js)
}