@model RP.Sistema.Web.Models.Perfil.Consultar
@using RP.Util.Class;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
}
<div class="control-group">
    @if (Disabled)
    {
        @Html.CustomLabelFor(model => model.idPerfil, "Perfil", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.idPerfil, new { @class = "input-small", @readonly = "readonly" })
            @Html.TextBoxFor(model => model.nmPerfil, new { @class = "input-xxlarge input-inavigate", @readonly = "readonly" })
        </div>
    }
    else
    {
        @Html.CustomLabelFor(model => model.idPerfil, "Perfil", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(model => model.idPerfil, new { @class = "input-small", @filter = "numeric", @autocomplete = "off", @maxlength = 8, @prefix = Html.ClientPrefixName().ToString(), @from = "idPerfil" })
            <a href="#@Helper.getInputId("modal", Html.ClientPrefixName().ToString())" id="@Helper.getInputId("btn-localizar", Html.ClientPrefixName().ToString())" title="Localizar Perfil" class="btn" data-toggle="modal"><i class="icon-search"></i></a>
            @Html.TextBoxFor(Model => Model.nmPerfil, new { @class = "input-xxlarge input-inavigate", @prefix = Html.ClientPrefixName().ToString(), @from = "nmPerfil" })
            @Html.ValidationMessageFor(model => model.nmPerfil, null, new { @class = Required ? "help-inline" : "help-inline no-required" })
        </div>
        
        @Html.Partial("_ModalPartial", 
            new RP.Sistema.Web.Models.ModalVM{ 
                Prefix = Html.ClientPrefixName().ToString(), 
                Url = Url.Action("Query", "Perfil"),
                Title = "Localizar Perfil"
            }
        )
    }
</div>

@if (!Disabled)
{
@Html.AddScriptBlock(
@<script type="text/javascript">
     $(function () {
         $('#@Html.ClientIdFor(e => e.idPerfil)').change(function () {
             var value = $(this).val();
             if (!IsNullOrEmpty(value)) {
                 $.ajax({
                     dataType: 'json',
                     type: 'GET',
                     url: '@Url.Action("JsDetails", "Perfil")',
                     data: { idPerfil: value },
                     beforeSend: function () {
                         $.loadingBox('show');
                     },
                     success: function (data) {
                         $.loadingBox('hide');
                         if (data) {
                             $('#@Html.ClientIdFor(e => e.idPerfil)').val(data.idPerfil);
                             $('#@Html.ClientIdFor(e => e.nmPerfil)').val(data.nmPerfil);
                         }
                         else {
                             $('#@Html.ClientIdFor(e => e.idPerfil)').blink().select();
                             $('#@Html.ClientIdFor(e => e.nmPerfil)').val('');
                         }
                     },
                     error: function (request) {
                         Functions.checkRequest(request);
                         $.loadingBox('hide');
                     }
                 });
             }
             else {
                 $('#@Html.ClientIdFor(e => e.idPerfil)').val('');
                 $('#@Html.ClientIdFor(e => e.nmPerfil)').val('');
             }
         })
        .focus(function () {
            $(this).select();
        });
     });

    $('#@Html.ClientIdFor(e => e.nmPerfil)').iNavigate({
         columns: [
			{ name: 'Id', bind: 'idPerfil', width: '30px' },
			{ name: 'Nome', bind: 'nmPerfil', width: '470px' }
		],
         width: 500,
         source: '@Url.Action("JsSearch", "Perfil")',
         minLength: 2,
         paginate: {
             size: 10
         },
         select: function (data) {
             if (data) {
                 $('#@Html.ClientIdFor(e => e.idPerfil)').val(data.idPerfil);
                 $('#@Html.ClientIdFor(e => e.nmPerfil)').val(data.nmPerfil);
             }
         },
         change: function (data) {
             if (!data) {
                 $('#@Html.ClientIdFor(e => e.idPerfil)').val('');
                 $('#@Html.ClientIdFor(e => e.nmPerfil)').blink().select();
             }
         }
     });
</script>
)
}