@model int
@using RP.Util;
@using RP.Util.Class;
@{
    ViewBag.Title = "Orçamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dsObservacao = ViewBag.dsObservacao;
    string dsGarantia = ViewBag.dsGarantia;
    string dsPrevisao = ViewBag.dsPrevisao;
    string dsIncluso = ViewBag.dsIncluso;
    string dsValidade = ViewBag.dsValidade;
    string dsCondicao = ViewBag.dsCondicao;
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="container-nav-list well affix">
                    <ul class="nav nav-list">
                        <li class="nav-header">Ações</li>
                        <li><a href="#" data-form-type="submit" title="Salva registro"><i class="icon-print"></i>Gerar</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index")" title="Volta para tela inicial"><i class="icon-arrow-left"></i>Voltar</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index")">Início</a> <span class="divider">/</span></li>
                    <li class="active">Orçamento do cliente</li>
                </ul>

                @Html.RenderFlashMessage()
                @Html.CustomValidationSummary(true, false, RP.Util.Resource.Message.SUMMARY_MESSAGE, new { @class = "alert alert-error" })

                <div class="form-horizontal">

                    <div class="control-group">
                        @Html.Label("Observação", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBox("dsObservacao",dsObservacao, new { @class = "span10", maxlength = "5000" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("Garantia", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBox("dsGarantia",dsGarantia, new { @class = "span10", maxlength = "500000" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("Previsão", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBox("dsPrevisao",dsPrevisao, new { @class = "span10", maxlength = "5000" })
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("Não incluso", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextArea("dsIncluso",dsIncluso, new { @class = "span10", maxlength = "5000", rows="4" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Validade", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBox("dsValidade",dsValidade, new { @class = "span10", maxlength = "5000" })
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("Condições de Pagto", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextArea("dsCondicao",dsCondicao, new { @class = "span10", maxlength = "5000", rows="4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>